.flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   

}

.links:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.main {
    display: flex;
    position: relative;
    flex: 1;
    height: 100vh;
    
}
.main .categories {
    flex: 0.2;
    height: 100vh;
    
}
.main .items {
    flex: 0.9;
    
}

.all-items {
    display: flex;
 
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex: 1;
    
}
.content_search {
    flex: 0.1;
}

.content   {
    display: flex;
  
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex: 0.9;
}

.content .content_category {
    width: 100%;
    height: 100vh;
  
    flex: 0.2;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.content .content_items {
    flex: 0.8;
    margin: 0.8rem;
}


.links {
    transition: background-color 200ms ease-in, transform 250ms ease-in-out;
}

.main-container {
    min-width: 800px !important;
    flex: 1;
    height: 100vh;
}


@media only screen and (max-width: 980px) {
    .flex {

        grid-template-columns: repeat(2, 1fr);

    }

}



@media only screen and (max-width: 560px) {
    .flex {

        grid-template-columns: repeat(1, 1fr);

    }

}