@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap');

*::after *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;



}




.loading_img {
  width: 300px;

}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold !important;
}

a.current {
  background-color: rgb(33, 77, 64);
}

.align-center {
  display: flex;
  justify-content: center;
}

.item-selected {
  background-color: burlywood;
  height: 200px;

}

.card {
  min-width: 200px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.center-div {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.loading-spinner {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.alert {
  padding: 12px;
  border-radius: 30px;
  display: flex;
  justify-content: center;


  text-transform: capitalize;
  font-size: 1.3rem;
  opacity: 0.8;

}

.alert-danger {
  background-color: rgb(184, 47, 47);
}

.alert-success {
  background-color: rgb(49, 129, 49);
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.pxy-8 {
  padding: 28px 0px !important;
  border-radius: 10px;

}

.w-30 {
  width: 30% !important;
}

.orders {
  width: 90vw;
  margin: 0 auto;
}

.pd-5 {
  display: flex;
  padding-bottom: 30px;

  line-height: 1.7;

  flex-direction: column;
  justify-content: space-around;
}

.uppercase {
  text-transform: uppercase !important;
}

.text-uppercase-white {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 1.5rem;
}

.secondary {
  background-color: #34495e !important;
}

.new-status {
  background-color: #2980b9 !important;


}

.in-progress-status {
  background-color: #f39c12 !important;
}

.delivered-status {
  background-color: #2ecc71 !important;
}

.btn-rounded {
  padding: 10px 20px !important;
  border-radius: 50px !important;
}

/* @media only screen and (min-width: 800px) {
  .flex {

    grid-template-columns: repeat(4, 1fr);

  }

} */