@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}


.loading_img {
  width: 300px;

}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold !important;
}

a.current {
  background-color: rgb(33, 77, 64);
}

.align-center {
  display: flex;
  justify-content: center;
}

.item-selected {
  background-color: burlywood;
  height: 200px;

}

.mr-8 {
  margin-right: 8px !important;
}

.center-div {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.loading-spinner {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.alert {
  padding: 12px;
  border-radius: 30px;
  display: flex;
  justify-content: center;


  text-transform: capitalize;
  font-size: 1.3rem;
  opacity: 0.8;

}

.alert-danger {
  background-color: rgb(184, 47, 47);
}

.alert-success {
  background-color: rgb(49, 129, 49);
}
.mb-10 {
  margin-bottom: 2.5rem;
}